/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  header {
    background-color: 	#CBC3E3;
    padding: 10px;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  a {
    color: #9400D3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Style for primary and secondary buttons */
  .primary-btn,
  .secondary-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .primary-btn {
    background-color: #9400D3;
    color: #fff;
  }
  
  .secondary-btn {
    background-color: #f5f5f5;
    color: #333;
  }
  
  .secondary-btn:hover {
    background-color: #ebebeb;
  }
  